# Copy this file to .env.local and fill in your values

# Supabase — find these in: Project Settings > API
NEXT_PUBLIC_SUPABASE_URL=sb_publishable_rH3rsxb1JDqGsBu5JneW0g_6lidvvN9
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdzcWZvbHhsbndhZWR3aHJmcHZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg3NjY3OTIsImV4cCI6MjA5NDM0Mjc5Mn0.euco1Mr2fBmCQ4Jkptc04XXnIiLGQAayCQ8zES3eBEI

# Used for auth redirect (change to your production URL when deploying)
NEXT_PUBLIC_SITE_URL=http://localhost:3000
